# העתיקו קובץ זה ל-.env ומלאו את הערכים מפרויקט ה-Supabase שלכם
# Project Settings -> API
VITE_SUPABASE_URL=https://cqpsflhplaxvbmfyigod.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxcHNmbGhwbGF4dmJtZnlpZ29kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU4NzIxNTIsImV4cCI6MjEwMTQ0ODE1Mn0.NpW9EswJ4Mw-0PwwnlDAL78Xr2xb4GE1GcKaevCMxdY
